.navbar.navbar-expand-lg.bg-dark{
    background: rgb(166,0,0);
background: linear-gradient(90deg, rgba(166,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(166,0,0,1) 100%);
}
i.fa-brands.fa-square-facebook.fa-3x{
color:white;
}
i.fa-brands.fa-square-facebook.fa-3x:hover{
    color:blue;
}
i.fa-brands.fa-linkedin.fa-3x{
    color:white;
}
i.fa-brands.fa-linkedin.fa-3x:hover{
    color:blue;
}
i.fa-brands.fa-square-instagram.fa-3x{
    color:white;
}
i.fa-brands.fa-square-instagram.fa-3x:hover{
    color:blue;
}
.fa-solid.fa-circle-user.fa-3x{
    color:white;
}
.fa-solid.fa-circle-user.fa-3x:hover{
    color:blue;
}
#FotoPerfil{
    width: 200px;
    height: 200px;
    position:absolute;
    top: 150px;
}
